@media (max-width: 768px) {
  header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
  }

  #portada {
    width: 100%;
    height: auto;
    padding: 10px 0px;
  }

  .logo {
    font-size: 0.8em;
    padding-left: 60px;
  }

  .button-nav {
    color: #fa6407;
    font-size: 0.8em;
    margin: 45px;
    padding: 5px 5px;

    &:hover {
      background-color: #edcca6; // Si quieres agregar estilos al estado hover
    }
  }

  .subtitle {
    font-size: 1.1em;
  }

  .section-grid-container {
    display: grid;
    grid-template-areas:
      "title1"
      "ph1"
      "title2"
      "ph2"
      "title3"
      "ph3";
    gap: 15px;

    #title1 {
      grid-area: title1;
    }

    #ph1 {
      grid-area: ph1;
    }

    #title2 {
      grid-area: title2;
    }

    #ph2 {
      grid-area: ph2;
    }

    #title3 {
      grid-area: title3;
    }

    #ph3 {
      grid-area: ph3;
    }
  }

  .photo {
    width: 300px;
    height: 300px;
  }

  .text-image {
    color: #fa6407;
    font-size: 1em;
    text-align: center;
  }

  .img-info {
    width: 100%;
    height: auto;
  }

  .phfallas {
    display: flex;
    width: 100%;
    height: auto;
  }
}

@media (min-width: 769px) {
  .button-nav {
    text-align: right;
    justify-content: right;
    color: #fa6407;
    font-family: "Roboto", sans-serif;
    border: none;
    padding: 5px 5px;
    margin: 50px;

    &:hover {
      background-color: #edcca6; // Si quieres agregar estilos al estado hover
    }
  }

  #portada {
    width: 100%;
    height: auto;
    padding: 10px 0px;
  }

  .section-grid-container {
    display: grid;    
    grid-template-areas:
      "title1 title2 title3"
      "ph1 ph2 ph3";
    gap: 15px;

    #title1 {
      grid-area: title1;
    }

    #ph1 {
      grid-area: ph1;
    }

    #title2 {
      grid-area: title2;
    }

    #ph2 {
      grid-area: ph2;
    }

    #title3 {
      grid-area: title3;
    }

    #ph3 {
      grid-area: ph3;
    }
  }

  .photo {
    width: 500px;
    height: 500px;
  }

  .text-image {
    color: #fa6407;
    font-size: 1.5em;
    text-align: center;
  }

  .img-info {
    width: 550px;
    height: 300px;
  }

  .logo {
    font-size: 1.4em;
  }

  .phfallas {
    display: flex;
    width: 730px;
    height: 750px;
  }
}

