@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px)

.browser nav {
  display: none;
  flex-direction: column;
  background-color: #333;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
}

.browser nav a {
  padding: 10px 20px;
  border-top: 1px solid #444;
}

.menu-toggle {
  display: flex;
}

.browser nav.active {
  display: flex;
}

.menu-toggle.toggle span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.toggle span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.toggle span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

  header {
    width: 100%;
    display:  flex;
    padding: 10px;
  }

  #portada {
    width: 100%;
    height: auto;
    padding: 5px 0;
  }

  .logo {
    font-size: 0.8em;
  
    

  .button-nav {
    color: #fa6407;
    font-size: 0.8em;
    margin: 100px;
    padding: 5px 5px;
  }

  .subtitle {
    font-size: 1.1em;
  }

  .section-grid-container {
    display: grid;
    grid-template-areas:
      "title1"
      "ph1"
      "title2"
      "ph2"
      "title3"
      "ph3";
    gap: 15px;

    #title1 {
      grid-area: title1;
    }

    #ph1 {
      grid-area: ph1;
    }

    #title2 {
      grid-area: title2;
    }

    #ph2 {
      grid-area: ph2;
    }

    #title3 {
      grid-area: title3;
    }

    #ph3 {
      grid-area: ph3;
    }
  }

  .photo {
    width: 300px;
    height: 300px;
  }

  .text-image {
    color: #fa6407;
    font-size: 1em;
    text-align: center;
  }

  .img-info {
    width: 100%;
    height: auto;
  }

  .phfallas {
    @include flex-center;
    width: 100%;
    height: auto;
  }
}


 