body {
  background-color: rgb(245, 245, 245);
  font-family: "Roboto", sans-serif;

  header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;

    .logo {
      h1 {
        color: #fa6407;
        font-weight: bold;
        font-size: 2.2em;
        font-family: "Mina", sans-serif;
        margin: 10px;
      }
    }
  }

  .button-nav {
    font-family: "Roboto", sans-serif;
    border: none;
    color: #fa6407;
    padding: 10px 10px;
    text-decoration: none;

    &:hover {
      background-color: #edcca6;
    }
  }

  .background-image {
    position: relative;
  }

  #portada {
    width: 100%;
    height: auto;
    padding: 10px 0px;
  }

  .subtitle {
    color: #546058;
    padding: 5px;
    font-size: 2em;
    font-family: "Mina", sans-serif;
    text-align: center;
  }

  .photo {
    transition: transform 0.3s ease;
    border-radius: 10px;
  }

  .photo:hover {
    transform: scale(1.1);
  }

  .img-info {
    display: block;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    border-radius: 0.5rem;
    overflow: hidden;
  }

  .img-info:hover {
    transform: scale(1.1);
  }

  p {
    font-family: "Mina", sans-serif;
    color: #546058;
    font-size: 1em;
    text-align: center;
  }

  h3 {
    color: #fa6407;
    font-size: 1em;
    text-align: center;
  }

  h4 {
    color: #f4f4f4;
  }

  ul {
    list-style-type: none;
  }

  .button-video {
    display: flex;
    margin: 10px 0 0;
    padding: 5px;
    text-decoration: none;
    justify-content: center;
    background-color: #fa6407;
  }

  a {
    text-decoration: none;
  }

  .container {
    width: 100%;
    padding: 1rem;
  }

  .main-content {
    text-align: center;
  }

  .infofallas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .phfallas {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }

  .phfallas:hover {
    transform: scale(1.1);
    border-radius: 10px;
  }

  .button-link {
    margin-top: 1rem;
  }
}



