.button-nav {
    font-family: "Roboto", sans-serif;
    border: none;
    color: #fa6407;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  .button-nav:hover {
    background-color: #edcca6;
  }
  
  .button-video {
    display: flex;
    margin: 10px 0 0;
    padding: 5px;
    text-decoration: none;
    justify-content: center;
    background-color: #fa6407;
  }
  