header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
  }
  
  header .logo h1 {
    color: #fa6407;
    font-size: 2.2em;
    font-family: "Mina", sans-serif;
    margin: 10px;
  }
  