* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: rgb(245, 245, 245);
    font-family: "Roboto", sans-serif;
  
    header {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2px;
  
      .logo {
        h1 {
          color: #fa6407;
          font-size: 2.2em;
          font-weight: bold;
          font-family: "Mina", sans-serif;
          margin: 10px;
        }
      }
    }
  
    .button-nav {
      font-family: "Roboto", sans-serif;
      border: none;
      color: #fa6407;
      padding: 10px 10px;
      text-decoration: none;
  
      &:hover {
        background-color: #edcca6;
      }
    }
  
    .background-image {
      position: relative;
    }
  
    #portada {
      width: 100%;
      height: auto;
      padding: 10px 0px;
    }
  
    .subtitle {
      color: #546058;
      padding: 5px;
      font-size: 2em;
      font-family: "Mina", sans-serif;
      text-align: center;
    }
  
    p {
      font-family: "Mina", sans-serif;
      color: #546058;
      font-size: 1em;
      text-align: center;
    }
  
    h3 {
      color: #fa6407;
      font-size: 1em;
      text-align: center;
    }
  
    h4 {
      color: #f4f4f4;
    }
  
    ul {
      list-style-type: none;
    }

    .phfallas {   
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .button-video {
      display: flex;
      margin: 10px 0 0;
      padding: 5px;
      text-decoration: none;
      justify-content: center;
      background-color: #fa6407;
    }
  
    a {
      text-decoration: none;
    }
  
    .footnote {
      color: #463e3a;
      text-align: center;
      padding: 15px;
    }
  }
  
 
